<div class="card">
  <div class="card-header"><i style="width: 150px; height: 39px;" class="icon s7-user"></i><span>Por favor ingrese su información.</span></div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="login-form">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="icon s7-user"></i></span></div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Correo electrónico' %>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="icon s7-lock"></i></span></div>
            <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'Password' %>
          </div>
        </div>
        <div class="form-group login-submit">
          <button class="btn btn-primary btn-lg btn-block" data-dismiss="modal" type="submit">Iniciar sesión</button>
        </div>
        <div class="form-group footer row">
          <div class="col-6"></div>
          <div class="col-6 remember">
            <label class="custom-control custom-control-inverse custom-checkbox custom-control-inline">
              <%= f.check_box :remember_me, class: 'custom-control-input needsclick' %><span class="custom-control-label">Recordarme</span>
            </label>
          </div>
        </div>
      </div>
    <% end %>>
  </div>
</div>